@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="index" style="text-align:center;">
        <LeoImage Url="/powerimgs/logo.png" IsPreview="False" Width="500px"></LeoImage>
    </div>

<script type="text/javascript">

    createVueApp({
        el: '#index',
        
        methods: {
        }

    });

</script>
