@{
    ViewBag.Title = "权限角色表";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}


<LeoContainer ContainerID="userEdit">
    <div class="edit_container">
        <LeoForm InputWidth="100%" LabelWidth="120">

            <LeoInput Label="旧密码" CheckValueEmpty="True" ShowPassword="True" V-Model="Password"></LeoInput>

            <LeoInput Label="新密码" CheckValueEmpty="True" V-Model="NewPassword" ShowPassword="True"></LeoInput>

            <LeoInput Label="重新输入新密码" CheckValueEmpty="True" ValidationFun="validatePassAg" ShowPassword="True" V-Model="NewPasswordAg"></LeoInput>

        </LeoForm>
    </div>
    <div class="dialog_tool_container">
        <LeoButton OnClick="handleChangeUserPwd()">提交</LeoButton>
    </div>
</LeoContainer>

@section bodyfoot{

    <script type="text/javascript">

        createVueApp({
            el: '#userEdit',
            mixins: [edit],
            data() {

                return {
                    dialogUserEditVisible: false,
                    editData:@Html.JsonEditData(
                    new {
                             Password="",
                             NewPassword="",
                             NewPasswordAg="",
                       })
                }

            },
            methods: {
                validatePassAg(rule, value, callback) {
                     if (value === '') {
                    callback(new Error('请再次输入密码'))
                    } else if (value !== this.editData.NewPassword) {
                    callback(new Error('两次输入密码不一致!'))
                    } else {
                    callback()
                    }
                },
                handleChangeUserPwd() {                    this.saveData('/Desktop/ResetPasswordSave').then(res => {
                        if (res) {
                            if (res.ResultCode != "0") {
                                this.$message.error(res.ResultMessage)
                            } else {
                                this.$message.success('设置成功')
                                window.parent.deskTop.closeModal();
                            }
                        }
                    }) }
            }

        });

    </script>
}
