@{
    ViewBag.Title = "音频列表";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}

<LeoContainer ContainerID="gridList">
    <LeoSticky>
        <div class="tool_container">
            <LeoToolButton IsOperationLog="true" IsDocHelp="true" IsNoteHelp="true"></LeoToolButton>
        </div>
        <div class="search_container">
            <LeoForm Type="Query">
                <LeoQueryInput Label="音频标识" QueryMethod="Equal" Width="80" V-Model="AudioID" QueryDataType="Int" ValidationExpression="\d+" ValidationMessage="请输入正整数"></LeoQueryInput>
                <LeoQueryInput Label="音频名称" QueryMethod="Contains" Width="150" V-Model="AudioName" QueryDataType="String"></LeoQueryInput>
            </LeoForm>
        </div>
    </LeoSticky>
    <div class="data_container">
        <LeoTable KeyName="AudioID" IsHeaderStickyTop="True">
            <ColumnCheck></ColumnCheck>
            <ColumnField FieldName="AudioID" Label="音频标识" Width="90" IsSort="True"></ColumnField>
            <ColumnField FieldName="AudioName" Label="音频名称" IsSort="True"></ColumnField>
            <ColumnField FieldName="ModifyDate" Label="修改时间" DateFormatter="yyyy-MM-dd HH:mm:ss" Width="160" IsSort="True"></ColumnField>
        </LeoTable>
    </div>
</LeoContainer>

@section bodyfoot {
    <script type="text/javascript">
        createVueApp({
            el: '#gridList',
            mixins: [grid],
            data: {
                readDataUrl: '@Html.SetPowerPublicQuery("/AudioDataManage/AudioInfo/ReadData")',
                pageSize: 20,
                queryData: @Html.SetQueryData(),
            },
            methods: { }
        })
    </script>
}
